# Cronjobs for scheduled backups with Duplicity
{% for item in duplicity_target_paths %}
{{ backup_schedule }} . /etc/duplicity-backup.env; {{ duplicity_binary }} --full-if-older-than {{ full_backup_after }} {{ item.path }} {{ backup_url_stem.strip("/") }}/{{ item.name | default(item.path) }}
{{ backup_schedule }} . /etc/duplicity-backup.env; {{ duplicity_binary }} remove-older-than {{ backup_url_stem.strip("/") }}/{{ item.name | default(item.path) }}
{% endfor %}
